# Shark attack clean

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

In [14]:
data = pd.read_csv("my_attack.csv",encoding='ISO-8859-1')
data

,Unnamed: 0,Date,Country,Area,Location,Activity,Age,Time,Species,Month,Fatal,Sex
0,0,25-Jun-2018,USA,California,"Oceanside, San Diego County",non representative,57,evening,White shark,June,N,F
1,1,18-Jun-2018,USA,Georgia,"St. Simon Island, Glynn County",walking,11,Unkown,White shark,June,N,F
2,2,09-Jun-2018,USA,Hawaii,"Habush, Oahu",surfing,48,Unkown,White shark,June,N,M
3,3,08-Jun-2018,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,27.34582218257508,Unkown,2 m shark,June,N,M
4,4,04-Jun-2018,MEXICO,Colima,La Ticla,diving,27.34582218257508,Unkown,"Tiger shark, 3m",June,N,M
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,6297,Before 1903,AUSTRALIA,Western Australia,Roebuck Bay,non representative,27.34582218257508,Unkown,White shark,Unkown,F,M
6298,6298,Before 1903,AUSTRALIA,Western Australia,Unkown,diving,27.34582218257508,Unkown,White shark,Unkown,F,M
6299,6299,1900-1905,USA,North Carolina,Ocracoke Inlet,swimming,27.34582218257508,Unkown,White shark,Unkown,F,M
6300,6300,1883-1889,PANAMA,Unkown,"Panama Bay 8ÂºN, 79ÂºW",non representative,27.34582218257508,Unkown,White shark,Unkown,F,M
6301,6301,1845-1853,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",swimming,15,Unkown,White shark,Unkown,F,M

data = data.drop('Unnamed: 0', axis=1)

# Análisis de datos

### Sexo

637 mujeres frente a 5661 hombres.
89.84% de las personas que tienen cualquier tipo de accidente con tiburones son hombres.
No porque los tiburones prefieran a los hombres si no porque probablemente son los que realicen las actividades que más los ponen en riesgo. Vamos a verlo.

In [ ]:
data[data.Sex == 'M'].value_counts()